 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');

:root{
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0 , 0, 0, .2);
    --border: .2rem solid var(--green);

}
 *{
    font-family: 'poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

}